<div class="row" style="margin-top: 64px">
    <table class="table table-bordered table-hover table-striped" id="users-table", data-source="<%= users_path(format: :json) %>">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Date of birth</th>
          <th>Card</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>
